name: 'podswap push'
description: 'Send a push request to a podswap webhook listener'
on:
  workflow_call:
jobs:
  send-push:
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@v5

      - name: Install Python push script dependencies
        run: apt-get install -y python3 python3-requests

      - name: Send push
        shell: bash
        run: python3 send_push.py
        env:
          WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
