name: 'podswap push'
description: 'Send a push request to a podswap webhook listener'
on:
  workflow_call:
    # Not used in the action itself. It's read from the user's action by podswap.
    inputs:
      pre-build-cmd:
        description: 'Pre-build command'
        type: string
        required: false
        default: 'git pull'
      build-cmd:
        description: 'Build command'
        type: string
        required: false
        default: 'docker compose build'
      deploy-cmd:
        description: 'Deploy command'
        type: string
        required: false
        default: 'docker compose up -d --force-recreate'
    secrets:
      WEBHOOK_SECRET:
        required: true
      WEBHOOK_URL:
        required: true
jobs:
  send-push:
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@v5

      - name: Install Python push script dependencies
        run: sudo apt-get install -y python3 python3-requests

      - name: Send push
        shell: bash
        run: python3 send_push.py
        env:
          WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
